/Santiago Ochoa/CuantroEnLinea/CuantroEnLinea/nbproject/private/
/Santiago Ochoa/CuantroEnLinea/CuantroEnLinea/build/
/Santiago Ochoa/CuantroEnLinea/CuantroEnLinea/dist/
/Santiago Ochoa/Tortuga/Tortuga/Tortuga/nbproject/private/
/Santiago Ochoa/Tortuga/Tortuga/Tortuga/build/
*.zip
*.exe
/Karen Vargas/Ejercicio7/build/
/Melissa Guadamuz Fernández/Proyecto_824_I_Cuatri_2022/ExportaCR/dist/
/Melissa Guadamuz Fernández/Proyecto_824_I_Cuatri_2022/MelissaGuadamuz-Proyecto/nbproject/private/
/Melissa Guadamuz Fernández/Proyecto_824_I_Cuatri_2022/MelissaGuadamuz-Proyecto/build/
/Melissa Guadamuz Fernández/Proyecto_824_I_Cuatri_2022/MelissaGuadamuz-Proyecto/dist/
/Sebastian Gonzales/01-05-2022/CarrosMotos/build/
/Jonathan Herrera/05-05-2022/FigurasGeometricas/build/
/Jonathan Herrera/05-05-2022/Punto2_JD_MH/nbproject/private/
/Jonathan Herrera/05-05-2022/Punto2_JD_MH/build/
/Jonathan Herrera/05-05-2022/Punto2-3_JD_MH/build/
/Sebastian Gonzales/06-05-2022/Parcial_2_S_GR/nbproject/private/
/Sebastian Gonzales/06-05-2022/Parcial_2_S_GR/build/
/Jonathan Herrera/26-05-2022/Multimediales/nbproject/private/
/Jonathan Herrera/26-05-2022/Multimediales/build/
/Luis Alberto Vega/13-06-2022/ExamenJava/nbproject/private/
/Luis Alberto Vega/13-06-2022/ExamenJava/build/
/Melissa Guadamuz Fernández/06-07-2022/CRUnion/nbproject/private/
/Melissa Guadamuz Fernández/06-07-2022/CRUnion/build/
/Luis Alberto Vega/18-07-2022/Examen2LuisVega/nbproject/private/
/Luis Alberto Vega/18-07-2022/Examen2LuisVega/build/
/Heymmy/10-08-2022/ExamenHeymmy/nbproject/private/
/Heymmy/10-08-2022/ExamenHeymmy/build/
/Kimberly Murillo/02-11-2022/TicoBingo/nbproject/private/
/Kimberly Murillo/02-11-2022/TicoBingo/build/
/Kimberly Murillo/02-11-2022/VistaBaseDatosKimberly/nbproject/private/
/Kimberly Murillo/06-12-2022/VistaBaseDatosKimberly/build/