<!DOCTYPE html>
<html lang="es">

<head th:replace="layouts/base-layout::head"></head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div th:if="${param.error}" class="aleyt alert-danger mb-3">Credenciales incorrectas</div>
                <div class="card">
                    <div class="card-header">
                        <h4>Iniciar sesión</h4>
                    </div>
                    <div class="card-body">

                        <form id=" loginform" method="POST" th:action="@{/auth/login-post}" role="form">
                            <div class="row form-group">
                                <label class="col-md-3">Usuario</label>
                                <input type="text" name="username" class="form-control col-md-7" />
                            </div>

                            <div class="row form-group">
                                <label class="col-md-3">Contraseña</label>
                                <input type="password" name="password" class="form-control col-md-7" />
                            </div>

                            <div class="row form-group">
                                <input type="submit" value="Iniciar sesión" class="btn btn-success btn-block col-md-7 offset-3" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>