* {
    margin: 0;
    /* Margin es el espacio que hay entre los bordes de un elemento y el borde de su contenedor. */
    padding: 0;
    /* Padding es el espacio que hay entre el contenido de un elemento y su borde. */
    box-sizing: border-box;
    /* Para que no se salga de la pantalla */
}

h1 {
    text-align: center;
    /* Para que se centre */
}

main {
    display: grid;
    /* Para que se muestre en forma de cuadricula y sea responsive, osea que se muestren en horizontal segun el numero de ancho */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Para que se muestren en horizontal segun el numero de ancho */
    /* Gap vertical de 50 y horizontal de 20 */
    grid-gap: 50px 20px;
    /* Para que haya un espacio entre los elementos */

}

.image-container {
    display: flex;
    /* Flex es para que se acomoden en una sola fila */
}

.image-container img {
    width: 100%;
    /* Para que se ajuste al tamaño de la pantalla */
}

article {
    padding: 10px;
    /* Es un espacio entre el contenido y el borde */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    /* Para que se vea la sombra */
}

/* Hover del article */
article:hover {
    transform: scale(1.1);
    /* Para que se agrande al pasar el mouse */
    transition: all 0.5s;
    /* Para que se haga el efecto de transición */
}


main {
    /* Para que haya un espacio entre el main y el borde, 
    margin: auto 20px; si es < 300px */
    margin: auto 20px;

}

li {
    margin-left: 20px;
    /* Para que haya un espacio entre el li y el borde */
}

#controllers-header {
    display: flex;
    /* Para que se acomoden en una sola fila */
    justify-content: center;
    /* Para que se centre */
}

#controllers-footer {
    display: flex;
    /* Para que se acomoden en una sola fila */
    justify-content: center;
    /* Para que se centre */
}




/* HEADER START */

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* para dispositivos moviles */
@media (max-width: 600px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    nav {
        display: none;
    }

    /* boton para activar el slidebar */
    header button {
        background-color: #fff;
        color: #333;
        padding: 10px;
        border: none;
        margin-right: 20px;
        cursor: pointer;
    }

    /* slidebar */
    header nav {
        width: 100%;
        position: absolute;
        top: 60px;
        left: -100%;
        background-color: #333;
        color: #fff;
        padding: 20px;
        transition: all 0.5s;
    }

    /* mostrar slidebar */
    header nav.active {
        left: 0;
    }
}


/* HEADER END */