.navbar a{
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
}
.subnav a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover, .subnav:hover{
  background-color: darkgray;
}
.none-decorate{
  text-decoration: none;
  color: darkgray;
}
.none-decorate:hover{
  color:white
}
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: darkgray;
  width: 100%;
  z-index: 1;
}
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
